<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
    <section class="todoapp">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input 
                    class="new-todo" 
                    placeholder="请输入内容" 
                    v-model="val"
                    @keyup.13="add"
                >
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" v-model="all">
                <ul class="todo-list">
                    <li :class="(val.checked?'completed':'') + ' '+ (val.onoff?'editing':'') " v-for="(val,key) in filterAry">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="val.checked">
                            <label 
                                @dblclick="dbfn(val)"
                            >{{val.txt}}</label>
                            <button class="destroy"></button>
                        </div>
                        <input 
                            class="edit" 
                            :ref="'aa'+val.id" 
                            @blur="blurfn(val)"
                            @keyup.esc="up(val.id)"
                        />
                    </li>
                </ul>
            </section>
            <footer class="footer">
	            <span class="todo-count">
	            	<strong>{{wnum}}</strong>
	            	<span>条未选中</span>
                </span>
                <ul 
                    class="filters"
                >
                    <li>
                        <a 
                            href="#/all" 
                            :class="router=== '#/all'?'selected':''"
                            @click="router = '#/all'"
                        >全部</a>
                    </li>
                    <li>
                        <a 
                            href="#/unchecked" 
                            @click="router = '#/unchecked'"
                            :class="router=== '#/unchecked'?'selected':''"
                        >未选中</a>
                    </li>
                    <li>
                        <a 
                            href="#/checked"
                            @click="router = '#/checked'"
                            :class="router=== '#/checked'?'selected':''"
                        >已选中</a>
                    </li>
                </ul>
            </footer>
        </div>
    </section>
<script src="../../vue.js"></script>
<script>
    // editing completed
    // editing ''
    // ''
    //completed
    /*
        [{
            id:0,
            txt:312,
            checked:false,
            onoff:false
        }]

        num:2
    */
 
    new Vue({
        el:'.todoapp',
        data:{ 
            val:'',
            router:'#/all',
            esc:false,
            ary:[
                {
                    id:0,
                    txt:'哈哈',
                    checked:true,
                    onoff:false
                },
                {
                    id:1,
                    txt:'呵呵',
                    checked:false,
                    onoff:false
                }
            ]
        },
        methods:{
            add(){
                this.ary.unshift({
                    id:+new Date,
                    txt:this.val,
                    checked:false,
                    onoff:false
                })
                this.val = '';
            },
            dbfn(val){
                // alert(id);
                let {txt,id} = val;
                this.ary.forEach(item=>{
                    if(item.id === id){
                        item.onoff = true;
                    }
                });
                Vue.nextTick(()=>{
                    this.$refs['aa'+id][0].select();
                    this.$refs['aa'+id][0].value = txt;
                });
            },
            blurfn(val){
                if(this.esc){
                    this.esc = false;
                }else{
                    let {id} = val;
                    let {value} = this.$refs['aa'+id][0];
                    this.ary.forEach(item=>{
                        if(item.id === id){
                            item.txt = value;
                            item.onoff = false;
                        }
                    })
                }
                //this.$refs['aa'+id][0].value
            },
            //按esc的时候
            up(id){
                this.ary.forEach(item=>{
                    if(item.id === id){
                        item.onoff = false;
                    }
                })
                this.esc = true;
            }
        },
        computed:{
            all:{
                get(){
                    // console.log(1111)
                    console.log(this.ary.every(item=>item.checked))
                    return this.ary.every(item=>item.checked);
                },
                set(val){
                    this.ary = this.ary.map(item=>{
                        item.checked = val;
                        return item;
                    })
                }
            },
            wnum(){
                return this.ary.filter(item=>!item.checked).length
            },
            filterAry(){
                let {router} = this;
                return this.ary.filter(item=>{
                    switch(router){
                        case '#/all':
                            return item;
                        case '#/unchecked':
                            return !item.checked
                        case '#/checked':
                            return item.checked
                    }
                });
            }
        }
    })
</script>
</body>
</html>
