* {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  font-size: 0.12rem;
  text-decoration: none;
}
header {
  width: 7.5rem;
  height: 1.04rem;
  background: #2ca2f9;
  position: absolute;
  top: 0;
  left: 0;
}
header h1 {
  font-size: 0rem;
  width: 2.35rem;
  height: 1.04rem;
  margin-left: 0.22rem;
  float: left;
  line-height: 1.04rem;
  text-align: center;
}
header h1 img {
  width: 2.35rem;
  vertical-align: middle;
  display: inline-block;
}
header .search {
  width: 0.55rem;
  float: right;
  line-height: 1.04rem;
  text-align: center;
  margin-right: 0.22rem;
}
header .search img {
  width: 0.55rem;
  vertical-align: middle;
  display: inline-block;
}
nav {
  height: 1.02rem;
  background: #fff;
  width: 7.5rem;
  margin: 0rem auto;
  overflow: hidden;
  position: absolute;
  top: 1.04rem;
  left: 0;
}
.nav li {
  float: left;
  width: 1.78rem;
  height: 0.96rem;
  text-align: center;
  line-height: 0.96rem;
  border-bottom: 0.06rem solid #fff;
}
.nav li a {
  font-size: 0.4rem;
  color: #000;
  display: inline-block;
  width: 100%;
}
.nav li a.router-link-exact-active {
  border-bottom: 0.06rem solid #2ca2f9;
}
.body_box {
  background: #f8f8f8;
  position: absolute;
  top: 2.08rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.body {
  width: 7.32rem;
  margin: 0.1rem auto;
}
.banner {
  width: 7.32rem;
  overflow: hidden;
}
.banner img {
  width: 7.32rem;
}
.list li {
  height: 1.32rem;
  border-bottom: 0.02rem solid #e5e5e5;
  background: #fff;
}
.list li p {
  height: 1.32rem;
  font-size: 0.32rem;
  line-height: 1.32rem;
  margin-left: 0.26rem;
  float: left;
  width: 6rem;
  overflow: hidden;
}
.list li img {
  float: right;
  width: 0.44rem;
  margin-top: 0.46rem;
  margin-left: 0.15rem;
}
